html, body {
  background: #fafafa;
  cursor: text;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
}

body {
  margin: 0;
  font-size: 1.5em;
}

#text, #placeholder {
  border: none;
  outline: none;
  resize: none;
  position: fixed;
  overflow: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  padding-right: 150px;
  font-weight: 400;
  color: #2c3e50;
}

#text {
  z-index: 10;
}

#placeholder {
  color: #c6c6c6;
  display: none;
}

#placeholder.active {
  display: block;
}

#yugen {
  font-size: 2em;
  position: fixed;
  top: 30px;
  right: 30px;
  color: #c6c6c6;
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color .5s, text-shadow .5s;
     -moz-transition: color .5s, text-shadow .5s;
          transition: color .5s, text-shadow .5s;
}

#yugen:hover {
  color: #90d3f9;
  text-shadow: 0 0 7px #c0e7ff;
}

#yugen:active {
  color: #70bce8;
  text-shadow: 0 0 7px #9bd7fa;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

#tooltip {
  opacity: 0;
  background: rgba(0,0,0,.66);
  color: #FAFAFA;
  position: fixed;
  right: 27px;
  top: 87px;
  padding: 2px;
  padding-bottom: 4px;
  pointer-events: none;
  padding-left: 6px;
  padding-right: 6px;
  font-size: .64em;
  -webkit-transition: opacity .5s;
     -moz-transition: opacity .5s;
          transition: opacity .5s;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid rgba(0,0,0,.66);
  top: -6px;
  margin-left: -5px;
}

#yugen:hover + #tooltip, #tooltip.active {
  opacity: 1;
}

#tooltip.created {
  right: 34px;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1.15em;
  }

  #text, #placeholder {
    padding-right: 100px;
  }

  #yugen {
    right: 19px;
    top: 15px;
  }

  #tooltip {
    right: 8px;
    top: 60px;
    font-size: .71em;
  }

  #tooltip.created {
    right: 15px;
  }
}